.flow {
    -fx-background-color:  #E5DCC3;
}

.vbox {
    -fx-background-color: #C7BEA2;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

.grid {
    -fx-background-color:  #E5DCC3;
}

.button {
    -fx-cursor: hand;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}