.table-view {
    -fx-background-color: #E5DCC3;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-font-size: 15px;
}

.table-view .table-column{
    -fx-alignment:center;
}


.table-view .table-cell{
    -fx-font-size:15px;
}

.table-row-cell:odd{
    -fx-background-color: #e0d8c0;
}
.table-row-cell:even{
    -fx-background-color: #E5DCC3;
}
